/* Footer */

#global-footer {
    background: rgb(245, 245, 247);
    color: rgba(0, 0, 0, 0.56);
    font-size: 0.75rem;
    font-weight: 400;
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    align-items: center;
    margin-top: 2rem;
}

.global-footer-content {
    padding: 0 1.25rem 0;
    min-width: 20rem;
    max-width: 65.25rem;
    margin-left: auto;
    margin-right: auto;
}

.energy-flags {
    padding: 1.25rem 0 0.625rem;
}

.energy-flags-list {
    display: flex;
    gap: 20px;
}

.energy-flag-img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.legal-disclaimer {
    padding: 0 0 0.625rem 0;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
}

.legal-disclaimer a {
    color: rgba(0, 0, 0, 0.72);
    text-decoration: underline;
}

.legal-disclaimer li {
    margin-bottom: 0.625rem;
}

.legal-disclaimer ul {
    list-style-type: none;
}

.directory-nav {
    display: flex;
    flex-direction: row;
    column-gap: 0.625rem;
    justify-content: space-between;
}

/* .directory-column {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
} */

.directory-column-section {
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.directory-column-section-list {
    list-style-type: none;
}

.directory-column-section-item {
    padding-bottom: 0.625rem;
}

.directory-column-section-title-text {
    color: rgba(0, 0, 0, 0.88);
}

.directory-column-section-link {
    display:block;
    width: fit-content;
}

.directory-column-section-link:hover {
    text-decoration: underline;
}

.global-footer-footer {
    padding: 2.3125rem 0 0.625rem 0;
}

.footer-end {
    display: flex;
}

.footer-shop-info {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    margin-bottom: 0.625rem;
    padding-bottom: 0.625rem;
}

.footer-shop-info a {
    color: rgb(0, 102, 204);
    text-decoration: underline;
}

.footer-legal-info-legal-links {
    list-style-type: none;
    display: flex;
}

.footer-legal-info-legal-links li {
    padding: 0 0.625rem 0;
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.16);
}

.footer-legal-info-legal-links li:last-child {
    padding: 0 0.625rem 0;
    border-right: 0;
}

.footer-legal-info-legal-links li:first-child {
    padding: 0 0.625rem 0 0;
}

.footer-legal-info-legal-links-item:hover {
    text-decoration: underline;
}

.footer-regional-info {
    margin-left: auto;
}

.footer-regional-info-link:hover {
    text-decoration: underline;
}