/* disclaimer */

#global-footer {
    background: rgb(245, 245, 247);
    color: rgba(0, 0, 0, 0.56);
    font-size: 12px;
    font-weight: 400;
    align-items: center;
}

.global-footer-content {
    padding: 0 20px 0;
    min-width: 375px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

/* disclaimer energy flags */

.energy-flags {
    padding: 32px 0 10px;
}

.energy-flags-list {
    display: flex;
    gap: 20px;
}

.energy-flag-img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

/* disclaimer legal info */

.legal-disclaimer {
    padding: 0 0 1px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.legal-disclaimer a {
    color: rgba(0, 0, 0, 0.72);
    text-decoration: underline;
}

.legal-disclaimer li {
    margin-bottom: 10px;
}

.legal-disclaimer ul {
    list-style-type: none;
}

/* directory nav */

.directory-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    font-weight: 400;
}

@media (max-width: 833px) {
    .directory-nav {
        flex-direction: column;
    }
}

/* directory colum */

.directory-column {
    flex: 1 1 0;
}

/* directory column section */

/* @media (max-width: 833px) {
    .directory-column-section {
        position: relative;
    }
} */

.directory-column-section~.directory-column-section {
    padding-top: 24px;
}

@media (max-width: 833px) {
    .directory-column-section~.directory-column-section {
        padding-top: 0;
    }
    
}

/* directory section list */

.directory-column-section-list {
    list-style-type: none;
    margin-right: 20px;
}

@media (max-width: 833px) {
    .directory-column-section-list {
        display: none;
    }

    .directory-column-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    }
}

/* directory list items */

.directory-column-section-item {
    margin-bottom: 10px;
}

.directory-column-section-item a {
    /* required to override style.css */
    color: rgba(0, 0, 0, 0.72); 
}

.directory-column-section-title {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 12px;
}

@media (max-width: 833px) {
    .directory-column-section-title {
        padding-top: 10px;
    }

}

@media (max-width: 833px) {
    .directory-column-section-title-text {
    font-weight: 400;
    }
}

.directory-column-section-link {
    width: fit-content;
}

@media (max-width: 833px) {
    .directory-column-section-link {
        width: auto;
    }
}

/* footer/end of the global footer*/

.global-footer-footer {
    padding-top: 37px;
    padding-bottom: max(11px, env(safe-area-inset-bottom));
}

@media (max-width: 833px) {
    .global-footer-footer {
        padding-top: 17px;
        padding-bottom: max(9px, env(safe-area-inset-bottom));
    }
}

/* footer end shop */

.footer-shop-info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 16px;
    padding-bottom: 19px;
}

@media (max-width: 833px) {
    .footer-shop-info {
        border-bottom: 0;
        margin-bottom: 8px;
        padding-bottom: 8px;
    }
}

.footer-shop-info-link {
    color: rgb(0, 102, 204);
    text-decoration: underline;
}

/* footer end */

.footer-end {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-legal-info {
    padding-bottom: 3px;
}

/* footer end copyright notice */

.footer-legal-info-copyright {
    margin: 5px 30px 0 0;
}

/* footer end legal links */

.footer-legal-info-legal-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 30px 0 0;
}

.footer-legal-info-legal-links-item {
    padding: 0 10px 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    margin: 5px 10px 0 0;
}

.footer-legal-info-legal-links li:last-child {
    border-right: 0;
}

/* footer end region info */
/* only existing rule removed */

/* shared */

.text-nowrap {
    white-space: nowrap;
}

.hover-underline:hover {
    text-decoration: underline;
}